#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.test {
  background-color: red;
}

.startButton {
  background-color: red;
}

.header {
  background-color: blue;
}

.name {
  background-color: green;
}

/* .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
} */

.fullCard {
  background-color: #ffee58;
  opacity: 0.5;
  border: 2px;
  border-color: white;
  width: 40%;
  border-radius: 2rem;
}

.fullCard img {
  width: 200px;
  border-radius: 2rem;
}

.message {
  font-size: 5rem;
  color: #ffee58;
}

.buttons {
  background-color: rgb(56, 49, 50);
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px 10px 10px 10px;
  width: 80%;
}

.header {
  color: #ffffffde;
  width: 850px;
  font-size: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
